.places {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title_places {
    display: block;
    width: 100%;
    padding: 1rem;
}

.title_art {
    text-align: center;
}

.title_places,
.title_art {
    font-size: 30px;
}

.art_places {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 2rem;
}
.price_by_night > span {
    position: absolute;
    right: 5px;
    bottom: 12.5px;
    top: 12.5px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100px;
    text-align: center;
    align-content: space-around;
}

.max_guest > figure {
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
}

.number_rooms > figure {
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
}

.number_bathrooms > figure {
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
}

.figure_inf {
    width: 20%;
    height: 20%;
    padding: 1rem;
    margin-left: 1.7rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.user {
    margin-top: 10px;
}